.cell {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #dedede;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cell--large {
  composes: cell;
  flex: 1 0 25%;
}

.cell--small {
  composes: cell;
  flex: 1 0 10%;
}

.cell--header {
  composes: cell;
  font-weight: 700;
  border-bottom-width: 4px;
}
