.row {
  composes: base-padding-left from '../../../shared/styles/helpers.css';
  composes: base-padding-right from '../../../shared/styles/helpers.css';
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .row {
    composes: small-padding-left from '../../../shared/styles/helpers.css';
    composes: small-padding-right from '../../../shared/styles/helpers.css';
    font-size: 0.8em;
  }
}
