
/* BASE PADDINGS */

.base-margin-right {
  margin-right: 15%;
}

.base-margin-left {
  margin-left: 15%;
}

/* SMALL PADDINGS */
.small-padding-right {
  padding-right: 5%;
}

.small-padding-bottom {
  padding-bottom: 5%;
}

.small-padding-left {
  padding-left: 5%;
}
