/* BASE MARGINS */
.base-margin-right {
  margin-right: 15%;
}

.base-margin-left {
  margin-left: 15%;
}

/* SMALL MARGINS */
.small-padding-right {
  padding-right: 5%;
}

.small-padding-left {
  padding-left: 5%;
}
