.search-bar {
    composes: base-padding-right from "../../shared/styles/helpers.css";
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

@media (max-width: 800px) {
    .search-bar {
        composes: small-padding-right from "../../shared/styles/helpers.css";
    }
}

.search-bar__input {
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 0.5em 0.6em;
    margin: 5px 1px 3px 0;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.search-bar__input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}